version: '3'
services:
  tp-achat-frontend:
    image: daoues/tp-achat-frontend:latest
    ports:
      - "4200:80"
    environment:
      BACKEND_URL: http://172.20.10.6:8089/SpringMVC
    restart: always
    networks:
      - tp-achat-net
networks:
  tp-achat-net:
    external: true
